version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    volumes:
      - ./bookshop-realm.json:/opt/keycloak/data/import/bookshop-realm.json

  bookshop:
    image: dasniko/bookshop:latest
    command: [ "wait-for-it.sh", "keycloak:8080", "--", "/deployments/entrypoint.sh" ]
    environment:
      WAITFORIT_TIMEOUT: '60'
      AUTH_SERVER_URL: http://keycloak:8080/realms/bookshop
      SHOP_CLIENT_ID: shop
      SHOP_CLIENT_SECRET: 08d171bf-ba03-44db-8279-f678d68021d7
    ports:
      - "3000:3000"
      - "8081:8081"
      - "8083:8083"
