<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Smiling Bookshop</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body class="container">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
	<a href="/shop" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
		<img src="/smile.jpg" class="me-3" style="width: 100px" alt="">
		<span class="fs-3 fw-semibold text-body-emphasis">Smiling Bookshop</span>
	</a>
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a href="//{host}:3000" class="nav-link active position-relative">Cart/Checkout
				<span id="cartSize" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{cartSize}</span>
			</a>
		</li>
		<li class="nav-item nav-link mx-3 text-body">{user}</li>
		<li class="nav-item d-flex align-items-center">
			{#if picture}
			<img src="{picture}" alt="{user}" style="width: 32px; height: 32px;" class="rounded-circle">
			{#else}
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
				<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
				<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
			</svg>
			{/if}
		</li>
		<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
	</ul>
</header>
<main>
	<h2 class="my-5"><i>Make your choice from the best books ever!</i></h2>
	<table class="table table-hover">
		<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Author</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{#for book in books}
			<tr>
				<td>{book.id}</td>
				<td>{book.title}</td>
				<td>{book.author}</td>
				<td>
					<a class="btn btn-sm btn-outline-secondary" title="Add to cart" href="#" onclick="addToCart({ id: {book.id}, title: '{book.title}', author: '{book.author}'})">🛒</a>
				</td>
			</tr>
		{/for}
		</tbody>
	</table>
</main>
<footer>
	<hr/>
	<p class="text-muted">
		<small>&copy; Niko Köbler | <a href="http://keycloak-experte.de" target="_blank">keycloak-experte.de</a></small>
	</p>
</footer>
<script>
	const addToCart = (book) => {
		fetch('/shop', {
			method: 'POST',
			headers: new Headers({ 'Content-Type': 'application/json' }),
			body: JSON.stringify(book),
		})
			.then((resp) => resp.json())
			.then((data) => {
				document.getElementById('cartSize').innerText = data.size;
			})
	}
</script>
</body>
</html>
